.form {

    padding: 15px;
    ;
    background-color: rgb(217, 241, 188, 0.4);
    width: 100%;
}

.form__paragraph {
    display: inline-block;
    margin-left: 10px;
}

.form__label {
    padding-right: 5px;
    margin-right: 5px;
    text-align: left;
    width: 100px;

}

.form__input {
    margin-left: 15px;
    width: 100px;
    text-align: right;
}

.form__button {
    margin-left: 15px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    box-shadow: 3px 2px rgb(128, 128, 128);
    background-color: rgb(242, 250, 252);
    font-weight: bold;

}

.form__button:hover {
    background-color: rgb(160, 241, 66, 0.01);
}

.form__date {
    margin-left: 5px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border-color: lightgray;
}