html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 600px;
    min-width: 368px;
    font-family: "Biryani", sans-serif;
    box-shadow: 6px 11px 39px 9px rgb(123 131 104);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    overflow: auto;
    margin: 100px auto;
    background-image: url("../images/c261.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
}