.table {
    margin: auto;
    width: 80%;
    position: relative;
    align-items: center;
    border-collapse: collapse;

}

.table__cell {
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(217, 241, 188, 0.1);
    border-radius: 5px;
    padding: 9px;
    text-align: center;
    max-width: 100px;
    margin: 15px;
}

.table__header {
    background-color: rgb(217, 241, 188, 0.3);
    text-align: center;
}

.table__inputCell {
    width: 90%;
    text-align: right;
    border-color: rgb(128, 128, 128);
    border-style: none;
}